

/* our location section */
@media screen and (min-width:0px) and  (max-width:800px) {
    .space h1{
        font-size: 40px;
    }
    .our-img{
        width: 100%;
    } 
    .about-img{
        width: 100%;
    }
    .map{
        width: 100%;
    }
    .content-information{

        width: 100%;
    }
.about-content{
    width: 100%;
}
    .our-content{
        width: 100%;
    } 
    
}

/* our baking section */
@media screen and (min-width:0px ) and (max-width:600px) {
    .space {
        white-space: wrap;
    }
    .home {
       min-height: 60vh;
    }
    .our-baking1{
        width: 100%;
    }  
    .us{
        width: 100%;
    }

   
    
}
@media screen  and (min-width:601px) and (max-width:992px){
    
    .our-baking1{
        width:50%;
    } 
    .us{
        width: 50%;
    }
    .home{
        height: 150vh;
    }
   
}


/*
------------------ Use Max -----------------
@media (max-width:1399.98px) {

}
@media (max-width:1199.98px) {

}

@media (max-width:991.98px) {

}
@media (max-width:767.98px) {

}
@media (max-wdith:575.98px) {

}
*/

/*
-------------------- Use Min -------------------
@media (min-width:576px) {

}
@media (min-width:768px) {

}
@media (min-width:992px) {

}
@media (min-width:1200px) {

}
@media (min-width:1400px) {

}
*/